# Ignore build artifacts
src/build/
src/build_0/
src/build_1/
src/build_2/
src/build_3/
src/build_4/
src/build_5/
src/build_6/

output_0/
output_1/
output_2/
output_3/
output_4/

# Ignore log and data files
*.log
*.csv
*.vtk
*.dat
*.txt

# Ignore mac files
*.DS_Store

# Ignore image and gif
*.png
*.gif



